.post-card {
    padding: 15px;
    box-shadow: 0px 0px 4px #c1c1c1;
    background-color: #f9f9f9;
}
form.search {
    padding: 13px;
}
input {
    margin: 15px;
}
input.create-post {
    background-color: #8c8c8c;
    border: none;
    padding: 16px;
    color: #fff;
    border-radius: 7px;
}